
{{this.model.email}}

<h1>lSingle employee</h1>
<h1>here</h1>

<p>for loop</p>
{{this.model.id}} - {{this.model.email}} {{this.model.name}} {{this.model.devices}} -- {{this.model.numberOfDevices}} {{this.model.company.name}}
<p>end loop</p>