
  <h1 class="text-center">Employee Info</h1>

  <button {{action "delete_employee" @model}} type="submit">Delete</button>


  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">company name</th>
      <th scope="col">number of devices</th>
      <!--    <th scope="col">devices</th>-->

    </tr>
    </thead>
    <tr>
    <td>{{this.model.id}}</td>
    <td>{{this.model.name}}</td>
    <td>{{this.model.email}}</td>
    <td>{{this.model.company.name}}</td>
    <td>{{this.model.numberOfDevices}}</td>
    </tr>

  </table>

  <h2 class="text-center">Devices</h2>
  <table class="table table-striped table-hover">

    <table class="table table-cell">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">device type</th>
        <th scope="col">serial number</th>

      </tr>
      </thead>
      <tbody>

      {{#each this.model.devices as |device|}}
        <tr>
          <th>{{device.id}}</th>
          <td>{{device.type}}</td>
          <td>{{device.serial_number}}</td>


        </tr>
      {{/each}}
      </tbody>
    </table>
  </table>